.backcolor{
    color:orange;
}
body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1{

    font-size: 50px;

}
section{
    display: flex;
    margin-bottom: 100px;

}
.half-width{
    width: 45%;
    padding-left: 7%;
}
.half-width img{

    width: 90%;
}
.hire-button{
    text-decoration: dashed;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
     border-radius: 5px ;
     color: white;
     font-weight: 700;
}
.top-banner{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    
}
.Dream-big{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.half-width p{

    text-align: justify;
}