.backcolor{
    color:orange;
}
body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1{

    font-size: 50px;

}
.flexible-container{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{

    width: 100%;
}
.hire-button{
    text-decoration:none;
    background-image: linear-gradient(rgba(255, 166, 0, 0.876),tomato);
    padding: 10px 40px;
     border-radius: 5px ;
     color: white;
     font-weight: 700;
}
.top-banner{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    
}
.Dream-big{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position:  right;
}
.half-width p{

    text-align:left;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orangecolor{
    color: orange;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    padding: 40px 10px 60px 10px ;

    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    
}
.experience-area{
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
#web-developer{
    border-left: 7px solid ;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
   
}
#full-stack{
    border-left: 7px solid  ;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
    
}
footer p{
    text-align: center;
}