.backcolor{
    color:orange;
}
body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1{

    font-size: 50px;

}
section{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{

    width: 100%;
}
.hire-button{
    text-decoration: dashed;
    background-image: linear-gradient(rgba(255, 166, 0, 0.876),tomato);
    padding: 10px 40px;
     border-radius: 5px ;
     color: white;
     font-weight: 700;
}
.top-banner{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    
}
.Dream-big{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.half-width p{

    text-align:left;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}